<tr>
<td><%= link_to search_entry.url do %>
<h3><%= highlight search_entry.name, params[:query] %></h3>
<% end %></td>
<td><%= search_entry.searchable_type %></td>
<td><%= search_entry.searchable %></td>
</tr>