<h1>Storage</h1>

<h2>Assigned Sections</h2>

<p>Use sections to group storage spaces that are physically close to each other.</p>

<% if @sections.empty? %>
<p>You have not created any sections yet. </p>
<% else %>
<table class="standard-table">
<tr>
    <th>Code</th>
    <th>Name</th> 
    <th>Description</th>
</tr>
<% @sections.each do |section| %>
     <tr>
          <td><%= section.sectioncode %></td>
          <td><%= link_to section.name, section_path(section.sectioncode) %></td> 
          <td><%= section.description %></td>
     </tr>
<% end %>
</table>
<% end %>
<i><%= link_to "Create a new section", new_section_path %></i>
