<h1>Welcome to Sherlock!</h1>


<p>Logged in as <strong><%= current_user.name %> (<%= current_user.email %>)</strong>.</p>

<p>Edit <code>app/views/static/_indexpage.html.erb</code> to customise this page.</p>