.searchbar-textfield
     padding: 8px 115px 8px 12px
     font-size: 16px
     font-weight: 600
     width: 250px
     border-radius: 0 !important

.searchbar-actions
     position: relative;
     display: inline-block
     left: -100px
     
     a
          font-family: 'Inter Display' !important
          text-decoration: none

.searchbar-go
     border-radius: 0 !important

.searchbar-clear
     right: 10px
     position: relative