<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <div>
      <%= yield %>
    </div>

    <p>This message was sent automatically by Sherlock.<p>
  </body>
</html>
